<div class="info">
<% @users.each do |user| %>
<p><%= link_to user.username, user_path(user) %>
Name: <%= user.fullname %> -
<% if user_admin? %>
Giftcoins Balance: <%= user.giftcoins %>
<% end %>
</p><% end %>
</div>