<% @occasions.each do |occasion| %>
<%= render partial:"occasion", locals: {occasion:occasion} %>
<% end %>
<p>If you want to have a look at fun facts click on this link:</p>
<a href="/occasions/most_popular_occasion">Most Popular Occasion</a>