<h4> Please find all the giftmoji's you can still buy: </h4>
<% @giftmojis.each do |giftmoji| %>
<p><% if giftmoji.user_id.nil?  %>
<%= link_to giftmoji.name, giftmoji_path(giftmoji) %> - price: <%= giftmoji.price %> giftcoins.</p>
<% end %>
<% end %>

<h4> Please find all the giftmoji's that were purchased and their owners:</h4>
<% @giftmojis.each do |giftmoji| %>
<p>
<% if !giftmoji.user_id.nil? %>
<%= link_to giftmoji.name, giftmoji_path(giftmoji) %> - owned by: <%= link_to giftmoji.user.fullname, user_path(giftmoji.user) %></p>
<% end %>
<% end %>

<h4> To buy or see the full profile of the Giftmoji's, please click on them. </h4>