
<% if no_owner? %>
<h4> Please find all the Giftmojis you can still buy: </h4>
<% @giftmojis.each do |giftmoji| %>
<p><% if giftmoji.user_id.nil?  %>
<%= link_to giftmoji.name, giftmoji_path(giftmoji) %> - price: <%= giftmoji.price %> giftcoins.</p>
<% end %>
<% end %>
<% else %>
<h4> There are no Giftmojis to buy.</h4>
<% end %>

<h4> Please find all the Giftmojis that were purchased/gifted and their current owners:</h4>
<% @giftmojis.each do |giftmoji| %>
<p>
<% if !giftmoji.user_id.nil? %>
<%= link_to giftmoji.name, giftmoji_path(giftmoji) %> - owned by: <%= link_to giftmoji.user.fullname, user_giftmojis_path(giftmoji.user) %></p>
<% end %>
<% end %>

<p> To buy or see the full profile of the Giftmoji's, please click on them. </p>

<p>If you want to have a look at fun facts click on those links</p>
<a href="/giftmojis/happy_ones">Happy Giftmojis</a> - 
<a href="/giftmojis/sad_ones">Sad Giftmojis</a> - 
<a href="/giftmojis/name_of_most_expensive">Most Expensive Giftmoji</a> - 
<a href="/giftmojis/name_of_cheapest">Cheapest Giftmoji</a> - 
<a href="/giftmojis/name_of_birthday_giftmojis">Giftmojis that were gifted on a Birthday</a>