<h1> Create a Giftmoji </h1>
<%= render 'form' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    debugger;
    $('form').submit(function(event) {
      event.preventDefault();
 var values = $(this).serialize()
    debugger;
    $.post('/giftmojis', values, function(giftmoji){
   let giftmojiId = giftmoji["id"]
  let name = giftmoji["name"]
  let tag = giftmoji["tag"]
  let price = giftmoji["price"]



debugger;
 
 $("#giftmojiName").append("<p><strong>You created a Giftmoji called <a href='/giftmojis/"+giftmojiId+"'>"+name+"</a> <i> Go ahead click on it if you want to access it's profile page</i></strong></p>");
  $("#giftmojiDescription").append("<p> The giftmoji you created goes by the following motto: <strong>"+tag+"</strong> and has a price of "+price+" giftcoins. To buy it. You will need to on the giftmoji's profile page. </p>");
    });


// $.post('/giftmojis', values, function(giftmoji){
//      debugger;
// })

})
})
</script>