<h1> Create a Giftmoji </h1>
<%= render 'form' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    debugger;
    $('form').submit(function(event) {
      event.preventDefault();
 var values = $(this).serialize()
    debugger;
    $.post('/giftmojis', values, function(data){
           //       let giftmojiId = giftmoji["id"]
  //       let name = giftmoji["name"]
  //       let tag = giftmoji["tag"]
  //       let price = giftmoji["price"]
  //       debugger;
  //       $("#giftmojiName").append("<p><strong> Name: <a href='/giftmojis/"+giftmojiId+"'>"+name+"</a></strong></p>");
  //       $("#giftmojiTag").append(tag);
    });


// $.post('/giftmojis', values, function(giftmoji){
//      debugger;
// })

})
})
</script>